:root, .light, .light-theme {
  --yellow-1: #ededea;
  --yellow-2: #efe9d7;
  --yellow-3: #f3e2ac;
  --yellow-4: #f3d884;
  --yellow-5: #f0cd5c;
  --yellow-6: #e0c058;
  --yellow-7: #cdae4a;
  --yellow-8: #ba9600;
  --yellow-9: #e5b600;
  --yellow-10: #d8ac00;
  --yellow-11: #7c5f00;
  --yellow-12: #443b1d;

  --yellow-a1: #9dd9ff17;
  --yellow-a2: #a59f0413;
  --yellow-a3: #edbd0142;
  --yellow-a4: #f1ba016e;
  --yellow-a5: #edb6009a;
  --yellow-a6: #d4a4029f;
  --yellow-a7: #ba9000ae;
  --yellow-a8: #ba9600;
  --yellow-a9: #e5b600;
  --yellow-a10: #d8ac00;
  --yellow-a11: #7c5f00;
  --yellow-a12: #2b2201e0;

  --yellow-contrast: #282109;
  --yellow-surface: #eee7d3cc;
  --yellow-indicator: #e5b600;
  --yellow-track: #e5b600;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --yellow-1: oklch(94.5% 0.0032 92.18);
      --yellow-2: oklch(93.4% 0.0245 92.18);
      --yellow-3: oklch(91.4% 0.0724 92.18);
      --yellow-4: oklch(88.7% 0.1079 92.18);
      --yellow-5: oklch(85.6% 0.1365 92.18);
      --yellow-6: oklch(81.4% 0.1272 92.18);
      --yellow-7: oklch(75.9% 0.1232 92.18);
      --yellow-8: oklch(68.7% 0.1412 92.18);
      --yellow-9: oklch(79.4% 0.1839 92.18);
      --yellow-10: oklch(76.1% 0.1722 92.18);
      --yellow-11: oklch(50% 0.1439 92.18);
      --yellow-12: oklch(35.3% 0.0476 92.18);

      --yellow-a1: color(display-p3 0.3608 0.7686 1 / 0.046);
      --yellow-a2: color(display-p3 0.6196 0.5961 0.0078 / 0.069);
      --yellow-a3: color(display-p3 0.8941 0.7412 0.0039 / 0.237);
      --yellow-a4: color(display-p3 0.8941 0.7137 0.0039 / 0.387);
      --yellow-a5: color(display-p3 0.8863 0.6941 0 / 0.528);
      --yellow-a6: color(display-p3 0.7804 0.6118 0 / 0.554);
      --yellow-a7: color(display-p3 0.6784 0.5294 0 / 0.614);
      --yellow-a8: color(display-p3 0.6392 0.502 0 / 0.79);
      --yellow-a9: color(display-p3 0.8392 0.6471 0 / 0.739);
      --yellow-a10: color(display-p3 0.7725 0.6039 0 / 0.756);
      --yellow-a11: color(display-p3 0.4 0.298 0 / 0.88);
      --yellow-a12: color(display-p3 0.149 0.1137 0 / 0.859);

      --yellow-contrast: #282109;
      --yellow-surface: color(display-p3 0.9255 0.9059 0.8353 / 0.8);
      --yellow-indicator: oklch(79.4% 0.1839 92.18);
      --yellow-track: oklch(79.4% 0.1839 92.18);
    }
  }
}